* {
  font: inherit;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-size: 1em;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

#game-container {
  width: 500px;
  margin: 0 auto;
  // padding-right: 4px;
  // padding-bottom: 4px;
}

#board-container {
  margin-top: 50px;
  width: 100%;
  height: 500px;
  background-color: lightgray;
}

.tile {
  width: calc(500px / 4);
  height: calc(500px / 4);
  // margin-left: 4px;
  // margin-top: 4px;
  // background-color: hsl(0, 75%, 60%);
  float: left;
}
