@import url(https:fonts.googleapis.com/css?family=Oxygen:700,400,300|Raleway:500,100,400,200,300);

* {
  font: inherit;
  box-sizing: border-box;
  -oz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #F8F8F8;
}

html {
  font-size: 1em;
  /*font-family: 'Oxygen', sans-serif;
  font-weight: 300;*/
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

p {
  margin: 0;
}

#main-container {
  margin: 0 auto;
  padding-top: 20px;
  width: 500px;
  transition: width .25s ease-out;
}

#game-container {
  width: 100%;
  margin: 10px auto 0;
  padding: 15px;
  position: relative;
}

#board-container {
  width: 100%;
  height: 470px;
  display: block;
  transition: height .25s ease-out;
}

.game-title {
  font-size: 4.5em;
  padding-left: 15px;
  width: 70%;
  display: inline-block;
}

.game-title span:first-child {
  color: #E91E63;
}

.game-title span:nth-child(2) {
  color: #2196F3;
}

.game-title span:nth-child(3) {
  /*color: #4CAF50;*/
  color: hsl(60, 55%, 70%);
}

.game-title :last-child {
  width: 40px;
  height: 40px;
  /* border-radius: 25px;*/
  background-color: #0298db;
  display: inline-block;
  margin-left: .125em;
  /* -webkit-box-shadow: 1px 1px 14px 0px rgba(92,92,92,1);
   -moz-box-shadow: 1px 1px 14px 0px rgba(92,92,92,1);
   box-shadow: 1px 1px 14px 0px rgba(92,92,92,1);*/
}

.game-moves {
  text-align: center;
  padding: 10px 0 0;
  margin-right: 15px;
  width: 75px;
  height: 75px;
  float: right;
  background-color: #E91E63;
}

.game-moves p {
  font-size: 1.25em;
  color: white;
}

.game-moves p + p {
  font-size: 1.75em;
}

.board-row {
  width: 100%;
}

.board-sq {
  position: relative;
  height: 100%;
  float: left;
}

.board-sq {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -oz-flex;
}

.tile {
  margin: auto;
  width: 0;
  height: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -oz-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -oz-justify-content: center;
  transition: all .25s ease-in-out;
}

.user {
  margin: none;
  z-index: 3;
  -webkit-box-shadow: 2px 4px 25px -1px rgba(0,0,0,0.65);
  -moz-box-shadow: 2px 4px 25px -1px rgba(0,0,0,0.65);
  box-shadow: 2px 4px 25px -1px rgba(0,0,0,0.65);
}

.preview {
  width: 25%;
  height: 25%;
  border-radius: 100%;
  display: none;
  margin: auto;
  -webkit-box-shadow: 2px 4px 19px -1px rgba(0,0,0,0.65);
  -moz-box-shadow: 2px 4px 19px -1px rgba(0,0,0,0.65);
  box-shadow: 2px 4px 19px -1px rgba(0,0,0,0.65);
}

.game-menu {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -oz-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -oz-justify-content: center;
}

.redo, .undo, .restart {
  width: calc(100% / 3);
  color: #0298db;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -oz-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -oz-justify-content: center;
  font-size: 2em;
}

.restart {
  font-size: 1.5em;
}

.redo-button, .undo-button, .restart-button {
  transition: all .25s ease;
}

.redo-button:hover, .undo-button:hover, .restart-button:hover {
  color: #E91E63;
  cursor: pointer;
}

.restart-button:hover {
  border-bottom: 1px solid #E91E63;
}

.delayX1Y1 {
  transition-delay: 0s;
}

/** 0.1s delay **/
.delayX1Y2,
.delayX2Y1 {
  transition-delay: 0.1s;
}

/** 0.2s delay **/
.delayX1Y3,
.delayX2Y2,
.delayX3Y1 {
  transition-delay: 0.2s;
}

/** 0.3s delay **/
.delayX1Y4,
.delayX2Y3,
.delayX3Y2,
.delayX4Y1 {
  transition-delay: 0.3s;
}

/** 0.4s delay **/
.delayX3Y3,
.delayX2Y4,
.delayX4Y2,
.delayX1Y5,
.delayX5Y1 {
  transition-delay: 0.4s;
}

/** 0.5s delay **/
.delayX3Y4,
.delayX4Y3,
.delayX2Y5,
.delayX5Y2,
.delayX1Y6,
.delayX6Y1 {
  transition-delay: 0.5s;
}

/** 0.6s delay **/
.delayX4Y4,
.delayX3Y5,
.delayX5Y3,
.delayX2Y6,
.delayX6Y2,
.delayX1Y7,
.delayX7Y1 {
  transition-delay: 0.6s;
}

/** 0.7s delay **/
.delayX4Y5,
.delayX5Y4,
.delayX3Y6,
.delayX6Y3,
.delayX2Y7,
.delayX7Y2 {
  transition-delay: 0.7s;
}

/** 0.8s delay **/
.delayX5Y5,
.delayX4Y6,
.delayX6Y4,
.delayX3Y7,
.delayX7Y3 {
  transition-delay: 0.8s;
}

/** 0.9s delay **/
.delayX5Y6,
.delayX6Y5,
.delayX4Y7,
.delayX7Y4 {
  transition-delay: 0.9s;
}

/** 1.0s delay **/
.delayX6Y6,
.delayX5Y7,
.delayX7Y5 {
  transition-delay: 1s;
}

/** 1.1s delay **/
.delayX6Y7,
.delayX7Y6 {
  transition-delay: 1.1s;
}

/** 1.2s delay **/
.delayX7Y7 {
  transition-delay: 1.2s;
}

.animateIn {
  margin: none;
  width: 100%;
  height: 100%;
}

.game-goal {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -oz-transform: rotate(45deg);
  z-index: 3;
  color: white;
  margin: auto;
  width: 35%;
  height: 35%;
  text-align: center;
  transition: all .25s ease-in-out;
  display: block !important;
}

.rotate {
  transition-delay: 0.25s;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -oz-transform: rotate(0deg);
  height: 35%;
}

.shadow {
   -webkit-box-shadow: 2px 4px 20px -1px rgba(0,0,0,0.50);
   -moz-box-shadow: 2px 4px 20px -1px rgba(0,0,0,0.50);
   box-shadow: 2px 4px 20px -1px rgba(0,0,0,0.50);
   -webkit-animation: fadeOut 250ms ease 750ms;
   -moz-animation: fadeOut 250ms ease 750ms;
   animation: fadeOut 250ms ease 750ms;
   -webkit-animation-fill-mode: both;
   -moz-animation-fill-mode: both;
   animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.game-message {
  display: none;
  position: absolute;
  background: rgba(219, 218, 238, 0.5);
  z-index: 100;
  margin: 15px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  -webkit-animation: fadeIn 800ms ease 1200ms;
  -moz-animation: fadeIn 800ms ease 1200ms;
  animation: fadeIn 800ms ease 1200ms;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
}

.game-message p {
  font-size: 3em;
  height: calc(100% / 2);
  padding-top: 100px;
  color: white;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.options {
  width: 100%;
  padding-top: 40px;
  height: calc(100% / 2);
}

.left-option, .right-option {
  width: 49.5%;
  height: 50%;
  display: inline-block;
}

.bottom-option {
  width: 100%;
  height: 50%;
  display: none;
}

a.button {
  margin: 20px auto 0;
  font-size: 1.25em;
  transition: all .5s ease;
  padding: 5px;
}

.next, .retry, .solution {
  color: white;
}

.block {
  display: block;
}

a.button:hover {
  border-bottom: 1px solid white;
  cursor: pointer;
}

.game-over {
  display: block;
}

.game-instructions {
  margin-top: 20px;
  padding: 0 15px;
}

.game-instructions p {
  padding: 0 15px 15px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 300px;
  line-height: 2em;
  border-bottom: 1px solid lightgray;
}

.game-instructions p:last-child {
  border-bottom: none;
}

.game-instructions p span {
  font-weight: 500;
}

.ui-icon-loading + h1 {
  display: none;
}

/**************** MEDIA QUERIES ****************/
@media handheld, screen and (max-width: 520px) {
  #main-container {
    width: 310px;
  }

  #board-container {
    height: 280px;
  }

  .game-title {
    font-size: 2em;
  }

  .game-title :last-child{
    width: 20px;
    height: 20px;
  }

  .game-message p {
    padding-top: 60px;
    font-size: 1.5em;
  }

  a.button {
    font-size: 1em;
  }

  .options {
    padding-top: 20px;
  }

  .redo, .undo {
    font-size: 1.25em;
  }

  .restart {
    font-size: 1em;
  }

  .game-moves {
    padding: 5px 0 0;
    width: 45px;
    height: 45px;
  }

  .game-moves p {
    font-size: .85em;
    color: white;
  }

  .game-moves p + p {
    font-size: 1em;
  }

  .game-instructions p {
    font-size: .85em;
  }

  .user {
    -webkit-box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.65);
    box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.65);
  }

  .preview {
    -webkit-box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.65);
    -moz-box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.65);
    box-shadow: 2px 4px 8px -1px rgba(0,0,0,0.65);
  }

  .shadow {
   -webkit-box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.50);
   -moz-box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.50);
   box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.50);
  }
}
